<app-header [publicHeader]="true"></app-header>
<div id="bodyholder">
  <div class="container main_content_focus">
    <div class="bodyholder_container">
      <span class="clearfix"></span>
      <div id="paymwnt_wrap" class="no-margin">
        <div class="login">
         <h1 class="error_page_header">
          <span class="active">Page Not Found</span>
         </h1>
        </div>
        <span class="clearfix"></span>
        <div id="make_a_payment">
          <div class="payment_block2 error_message">
            <strong class="glyphicon glyphicon-exclamation-sign"></strong>
            <span class="">Please try the following:</span><br>
            <span class="">If you typed the page address in the Address bar, make sure that it is spelled correctly.</span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
